body{
  background-color: gray;
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
 /* background-image: url("darkness.png");*/
}

h1{
  color: black;
}

p{
  color: black;
}

#accordion div{

background: linear-gradient(#222222, #737974);
}

#search{

  text-align: center;
}
